@import "nullstyle.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");

/* ↓ ibg ↓ */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
/* ↑ ibg ↑ */

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1294;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// ПЕРЕМЕННЫЕ

// ОСНОВНАЯ СЕТКА
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
// ОСНОВНАЯ СЕТКА

// HEADER
@import "header.scss";
// HEADER

// mainstyles
.link {
  @media (min-width: $md3+px) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #000;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }
    &:hover::before {
      width: 90%;
    }
  }
}
.btn {
  padding: 0 53px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 200px;
  font-size: 18px;
  line-height: 22 / 18 * 100%;
  text-transform: capitalize;
  color: #000000;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}
.top {
  margin: 0 0 55px 0;
  @media (max-width: $md3+px) {
    margin: 0 0 40px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 20px 0;
  }
}
.title {
  margin: 0 0 10px 0;
  font-family: "Readex Pro";
  font-size: 42px;
  line-height: 52 / 42 * 100%;
  text-align: center;
  @media (max-width: $md2+px) {
    font-size: 36px;
  }
  @media (max-width: $md3+px) {
    font-size: 30px;
  }
  @media (max-width: $md4+px) {
    font-size: 24px;
    margin: 0 0 6px 0;
  }
}
.subtitle {
  margin: 0 auto;
  max-width: 630px;
  font-family: "Readex Pro";
  font-size: 14px;
  line-height: 17 / 14 * 100%;
  text-align: center;
}
// mainstyles

// mainblock
.mainblock {
  margin: 0 0 86px 0;
  padding: 108px 0 0 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    padding: 90px 0 0 0;
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__body {
  }
}
.mainblock-slide {
  &__body {
    min-height: 550px;
    display: flex;
    background-color: #dce5e2;
    border-radius: 32px;
    overflow: hidden;
    @media (max-width: $md3+px) {
      display: block;
    }
    &_tow {
      background-color: #9edce5;
    }
    &_three {
      background-color: #f0dccc;
    }
  }

  &__column {
    flex: 0 1 50%;
    // &:last-child {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  &__pictures {
    height: 100%;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__items {
    padding: 50px 10px 50px 56px;
    @media (max-width: $md3+px) {
      padding: 20px 20px;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    font-family: "Readex Pro";
    font-size: 58px;
    line-height: 70 / 58 * 100%;
    @media (max-width: $md1+px) {
      font-size: 44px;
    }
    @media (max-width: $md2+px) {
      font-size: 36px;
    }
    @media (max-width: $md3+px) {
      margin: 0 0 15px 0;
      font-size: 28px;
    }
    @media (max-width: $md4+px) {
      font-size: 24px;
    }
  }

  &__text {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 19 / 16 * 100%;
    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__button {
  }

  &__image {
    height: 100%;
    @media (max-width: $md3+px) {
      height: 530px;
    }
    @media (max-width: $md4+px) {
      height: 330px;
    }

    &_one {
      // background-size: contain;
      // background-position: bottom;
    }

    &_two {
      margin-top: 50px;
      background-position: top;
      background-size: contain;
      @media (max-width: $md3+px) {
        margin-top: 0;
      }
    }

    &_three {
      margin-top: 100px;
      background-position: top;
      background-size: contain;
      @media (max-width: $md3+px) {
        margin-top: 0;
      }
    }
  }
}
.swiper {
  position: relative;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  z-index: 1;
}
.swiper-slide {
}
.swiper-pagination {
  padding: 0 0 15px 0;
}
.swiper-button-prev {
  &::after {
    color: #000;
    font-size: 30px;
  }
  @media (max-width: $md3+px) {
    display: none;
  }
}
.swiper-button-next {
  &::after {
    color: #000;
    font-size: 30px;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
.swiper-pagination-bullet {
  width: 194px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  @media (max-width: $md3+px) {
    width: 100px;
  }
  @media (max-width: $md4+px) {
    width: 50px;
  }
}

// mainblock

// offers
.offers {
  margin: 0 0 86px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__top {
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
    display: flex;
    gap: 16px;
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
    @media (max-width: $md4+px) {
      gap: 8px;
    }
  }

  &__column {
    flex: 0 1 50%;
    &_two {
      display: flex;
    }
  }

  &__card {
  }
}
.card-offers {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  @media (min-width: $md3+px) {
    &:hover {
      transform: scale(1.02);
    }
  }
  @media (max-width: $md4+px) {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  }

  &_one {
    display: block;
    margin: 0 0 16px 0;
    padding: 0 42px;
    @media (max-width: $md4+px) {
      padding: 0 20px;
      margin: 0 0 8px 0;
    }
  }

  &_two {
    padding: 0 42px;
    display: flex;
    align-items: center;
    @media (max-width: $md4+px) {
      padding: 0 20px;
    }
  }

  &_three {
    flex: 1 1 auto;
    padding: 40px 0;
    margin: 0 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $md4+px) {
      padding: 20px 0;
      margin: 0 8px 0 0;
    }
  }
  &_four {
    flex: 1 1 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: $md4+px) {
      padding: 20px 0;
    }
  }

  &__image {
    &_one {
      max-width: 500px;
      img {
        max-width: 100%;
      }
    }

    &_two {
      max-width: 381px;
      img {
        max-width: 100%;
      }
    }

    &_three {
      margin-left: 16px;
      max-width: 311px;
      img {
        max-width: 100%;
      }
      @media (max-width: $md2+px) {
        margin: 0 auto;
      }
    }

    &_four {
      max-width: 311px;
      img {
        width: 100%;
      }
      @media (max-width: $md2+px) {
        margin: 0 auto;
      }
    }
  }

  &__text {
    padding: 5px;

    &_one {
      margin-left: auto;
      max-width: 202px;
      text-align: right;
    }

    &_two {
      margin-left: auto;
      max-width: 140px;
      text-align: right;
    }

    &_three {
      padding: 40px 5px 5px 5px;
      margin: 0 auto;
      max-width: 260px;
      text-align: center;
    }

    &_four {
      padding: 5px 5px 40px 5px;
      margin: 0 auto;
      max-width: 260px;
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    @media (max-width: $md4+px) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 38 / 32 * 100%;
    color: #000000;
    @media (max-width: $md1+px) {
      font-size: 26px;
    }
    @media (max-width: $md2+px) {
      font-size: 22px;
    }
    @media (max-width: $md4+px) {
      font-size: 19px;
    }
  }
}
// offers


// selled
.selled {
  margin: 0 0 86px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__body {
    display: flex;
    margin: 0 -10px -20px;
    @media (max-width: $md2+px) {
      margin: 0 -5px -10px;
    }
    @media (max-width: $md3+px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    margin: 0 0 20px 0;
    padding: 0 10px;
    flex: 0 1 25%;
    @media (max-width: $md2+px) {
      margin: 0 0 10px 0;
      padding: 0 5px;
    }
    @media (max-width: $md3+px) {
      flex: 0 1 50%;
    }
    @media (max-width: $md4+px) {
      flex: 0 1 100%;
    }
  }
}
.card-selled {

  &__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 14px;
    transition: all 0.3s ease;
    @media (min-width: $md3+px) {
      &:hover {
        transform: scale(1.02);
        background-color: #ececec;
        & .card-selled__top {
          background-color: #F8F9FA;
        }
      }
    }
    @media (max-width: $md3+px) {
      background-color: #F8F9FA;
    }
  }

  &__top {
    margin: 0 0 5px 0;
    padding: 28px;
    // background-color: #fff;
    border-radius: 14px;
    transition: all 0.3s ease;
    @media (max-width: $md3+px) {
      background-color: #F8F9FA;
    }
  }

  &__image {
    padding: 0 0 100% 0;
  }

  &__title {
    margin: 0 0 9px 0;
    font-family: 'Readex Pro';
    font-size: 22px;
    line-height: 28 / 22 * 100%;
    color: #000;
    @media (max-width: $md2+px) {
      font-size: 20px;
    }
  }

  &__text {
    flex: 1 1 auto;
    margin: 0 0 9px 0;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
  }

  &__price {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    &::before {
      content: '$ ';
    }
    &::after {
      content: ' USD';
    }
  }
}
// selled

// best 
.best {
  margin: 0 0 86px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__top {
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
    display: flex;
    margin: 0 -14px -28px;
    @media (max-width: $md2+px) {
      margin: 0 -7px -14px;
    }
    @media (max-width: $md3+px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: $md4+px) {
      
    }
  }

  &__card {
    margin: 0 0 28px 0;
    padding: 0 14px;
    flex: 0 1 33.333%;
    @media (max-width: $md2+px) {
      margin: 0 0 14px 0;
      padding: 0 7px;
    }
    @media (max-width: $md3+px) {
      flex: 1 1 auto;
    }
  }
}
.card-best {

  &__body {
    padding: 40px 20px 10px;
    background-color: #F8F9FA;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (max-width: $md2+px) {
      padding: 30px 15px 10px;
    }
    @media (max-width: $md3+px) {
      padding: 20px 15px 10px;
    }
  }

  &__subtitle {
    font-family: 'Readex Pro';
    font-size: 13px;
    line-height: 17px;
    text-align: center;
  }

  &__title {
    margin: 0 0 30px 0;
    flex: 1 1 auto;
    font-family: 'Readex Pro';
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    @media (max-width: $md2+px) {
      font-size: 24px;
    }
    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
      font-size: 20px;
    }
  }

  &__button {
    margin: 0 0 30px 0;
    align-self: center;
    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__picture {
    // height: 250px;
  }

  &__image {
    padding: 0 0 67% 0;
    background-size: contain;
    &_b {
    }
  }
}
// best 


// ideas
.ideas {
  margin: 0 0 86px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__top {
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
    margin: 0 0 74px 0;
    display: flex;
    @media (max-width: $md2+px) {
      margin: 0 0 50px 0;
    }
    @media (max-width: $md3+px) {
      flex-direction: column;
      margin: 0 0 30px 0;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 20px 0;
    }
  }

  &__column {
    &:first-child {
      flex: 0 1 48%;
    }
    &:last-child {
      flex: 0 1 52%;
    }
  }

  &__image {
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    @media (max-width: $md3+px) {
      min-height: 300px;
      margin: 0 0 20px 0;
    }
    @media (max-width: $md4+px) {
      min-height: 220px;
    }
  }

  &__content {
    padding: 0 0 0 35px;
    min-height: 420px;
    @media (max-width: $md1+px) {
      min-height: auto;
    }
    @media (max-width: $md2+px) {
      padding: 0 0 0 20px;
    }
    @media (max-width: $md3+px) {
      // margin: 0 0 20px 0;
      padding: 0;
    }
  }

  &__link {
    display: block;
    margin: 0 0 25px 0;
    font-size: 24px;
    line-height: 30 / 24 * 100%;
    color: #000000;
    @media (max-width: $md3+px) {
      margin: 0 0 15px 0;
      font-size: 20px;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 10px 0;
      font-size: 18px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__main-link {
    span {
      padding: 0 25px 0 0;
      text-align: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
      color: #000000;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 6px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url('../img/ideas/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
// ideas


// search
.search {
  margin: 0 0 86px 0;
  @media (max-width: $md2+px) {
    margin: 0 0 70px 0;
  }
  @media (max-width: $md3+px) {
    margin: 0 0 50px 0;
  }
  @media (max-width: $md4+px) {
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__top {
    margin: 0 0 20px 0;
  }

  &__title {
  }

  &__body {
    max-width: 650px;
    margin: 0 auto;
  }

  &__form {
    margin: 0 0 18px 0;
    display: flex;
    background-color: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
  }

  &__button {
    position: absolute;
    min-height: 60px;
    border: none;
    background-color: transparent;
    background-image: url('../img/search/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
    width: 60px;
    height: 60px;
  }

  &__input {
    padding: 15px 15px 15px 70px;
    min-height: 60px;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: all 0.3s ease;
    &:focus {
      background-color: #f0f0f1;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -4px -8px;
  }

  &__item {
    margin: 0 0 8px 0;
    padding: 0 4px;
    flex: 0 1 auto;
  }

  &__link {
    background-color: #ccc;
    padding: 12px 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    transition: all 0.2s ease;
    &:hover {
      background-color: #F8F9FA;
    }
  }
}
// search


// subscribe 
.subscribe {
  margin: 0 0 20px 0;

  &__container {
  }

  &__content {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 935px;
    background-color: #DCE5E2;
    border-radius: 16px;
  }

  &__top {
    margin: 0 0 15px 0;
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
  }

  &__image {
    margin: 0 0 15px 0;
    // margin: 0 auto;
    // max-width: 233px;
    padding: 0 0 22.5% 0;
    background-size: contain;
    @media (max-width: $md3+px) {
      min-height: 200px;
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    align-items: center;
    @media (max-width: $md4+px) {
      flex-direction: column;
    }
  }

  &__input {
    padding: 15px 10px 16px 30px;
    flex: 1 1 100%;
    width: 100%;
    min-height: 48px;
    border-radius: 54px 0px 0px 54px;
    background: #DCE5E2;
    border: 1px solid #000000;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    transition: all 0.3s ease;
    &:focus {
      background-color: #f0f0f1;
    }
    @media (max-width: $md4+px) {
      border-radius: 200px;
      margin: 0 0 8px 0;
    }
  }

  &__button {
    padding: 0 30px;
    flex: 0 0 auto;
    min-height: 50px;
    background-color: #000000;
    border-radius: 0px 200px 200px 0px;
    font-size: 14px;
    line-height: 17px;
    // text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease;
    border: none;
    &:hover {
      background-color: #202020;
    }
    @media (max-width: $md4+px) {
      width: 100%;
      border-radius: 200px;
    }
  }
}
// subscribe 

// FOOTER
@import "footer.scss";
// FOOTER